@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/ProximaNovaCond-Bold.eot');
    src: url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaCond-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNovaCond-Bold.woff') format('woff'),
        url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

